@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}
body{
    background: #8364e8;
    
}
form{
    margin-top: 200px;
}
table{
    margin:auto;
    
}
fieldset{
    margin: 0 auto;
    width: 450px;
    border-radius: 20px;
    background-color: white;
    font-size: 20px;
    transition: 1s;
}
#leg{
    background-color: #0047AB;
    color: white;
    font-size: medium;
    padding: 5px 10px;
    border-radius: 10px;
}
td{
    font-size: 15px;
    padding-top:10px;
}
input[type="email"],input[type="password"],input[type="text"]{
    width: 390px;
    padding: 10px;
    border: none;
    box-shadow: 0 1.4px #0047AB ;
}
input[type="email"]:focus,input[type="password"]:focus,input[type="text"]:focus{
    outline: none;
}
#for{
    text-align: right;
}
button{
    padding: 10px 20px;
    background-color: #8364e8;
    color: white;
    border: none;
}
button,input[type="email"],input[type="password"]{
    transition: 0.2s;
}
input[type="email"]:hover,input[type="password"]:hover,button:hover,#leg:hover,input[type="text"]:hover{
    box-shadow: 0 0 8px #0047AB;
    transform: scale(1);
    font-weight: bold;
}
fieldset:hover{
    transform: scale(1.2);
}
#signUp{
    padding: 5px;
    text-decoration: none;
}
#signUp:hover{
    color: #0047AB;
    border: none;
    font-weight: bold;
    
}
.homepage{
    *{
        margin: 0;
    }div{
        padding: 20px 10px;
        background-color: #fff;
        text-align: right;
        margin: 10px 20px;
        border-radius: 10px;
        
    }
    div>a{
        margin-left: 20px;
        text-decoration: none;
        background-color:  #0047AB;
        border-radius: 15px;
        padding: 8px 18px;
        color: white;
             
    }
    div>a:hover{
        background-color: blue;
        color: white;
        box-shadow: 0 0 10px #0047AB;
    }
    span{
        padding-right: 65px;
        font-weight: bold;
        position: static;
    }
    .he{
        margin: 0px 14px -9px;
        cursor: pointer;
    }
    #helo{
        font-size: 30px;
        margin: 0px 11px -9px;
        cursor: pointer;
    }
    #im{
        margin-bottom: -20px;
    }
}