@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}
.container-fluid{
    background-color: #8364e8 ;
    *{
        padding: 5px;
    }
    ._main{
        width: 450px;
    }
    fieldset{
    background-color: aliceblue;
    }
    legend{
        color: #0047AB;
    }
    button{
        border: none;
        background-color: #0073CF;
        padding: 6px 15px;

    }
    button:hover{
        box-shadow: 0 0 5px #0047AB;
        background-color: #0047AB;
        
    }
    ._up{
        background-color: #f28500;
        color: white;
        padding: 6px 15px;
        border: none;
        text-decoration: none;

    }
    ._up:hover{
        background-color: #ff6700;
        box-shadow: 0 0 5px #0047AB;
    }
}
.homepage{
    
}